/* App.css */
.app-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #f4f7fc;
  min-height: 100vh;
}

.app-title {
  text-align: center;
  color: #007bff; /* Kaltër e bukur për tituj */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  color: #007bff;
}

button {
  background-color: #28a745; /* Ngjyrë jeshile për butonat */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838; /* Ngjyrë më e errët kur kalon mbi butonin */
}

a {
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
}

